<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/0477498157.js"
      crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="description"
      content="Restaurant Website Dicoding 2023" />
    <meta
      name="author"
      content="Abdul Rahman" />
    <link
      rel="manifest"
      href="./app.webmanifest" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Food</title>
  </head>
  <body>
    <a
      href="#maincontent"
      class="skip-link"
      >Menuju ke konten</a
    >
    <nav-bar name="Food App"></nav-bar>
    <main id="main">
      <hero-bar></hero-bar>
      <about-element id="maincontent"></about-element>

      <team-element></team-element>
    </main>

    <footer-element></footer-element>
  </body>
</html>
